In [64]:
import pandas as pd
import numpy as np
import sqlite3
import zipfile
import ast

## List of Dataframes:

In [96]:
# Dataframes
movie_info_df = pd.read_csv('zippedData/rt.movie_info.tsv.gz', sep='\t', compression='gzip')
movie_info_drop = ['box_office', 'currency', 'dvd_date', 'studio']
movie_info_df = movie_info_df.drop(columns=movie_info_drop)
print(f'movie_info_df columns: \n{list(movie_info_df.columns)}\n')


movie_gross_df = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
print(f'movie_gross_df columns: \n{list(movie_gross_df.columns)}\n')

movie_budget_df = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
print(f'movie_budget_df columns: \n{list(movie_budget_df.columns)}\n')

movie_reviews_df = pd.read_csv('zippedData/rt.reviews.tsv.gz', sep='\t', compression='gzip', encoding='latin-1')
movie_review_drop = ['rating']
movie_reviews_df = movie_reviews_df.drop(columns=movie_review_drop) # Dropping rating: poor formatting & lacking 50% of data.
print(f'movie_reviews_df columns: \n{list(movie_reviews_df.columns)}\n')


tmbd_movie_df = pd.read_csv('zippedData/tmdb.movies.csv.gz')
print(f'tmbd_movie_df columns: \n{list(tmbd_movie_df.columns)}\n')

movie_info_df columns:
['id', 'synopsis', 'rating', 'genre', 'director', 'writer', 'theater_date', 'runtime']

movie_gross_df columns:
['title', 'studio', 'domestic_gross', 'foreign_gross', 'year']

movie_budget_df columns:
['id', 'release_date', 'movie', 'production_budget', 'domestic_gross', 'worldwide_gross']

movie_reviews_df columns:
['id', 'review', 'fresh', 'critic', 'top_critic', 'publisher', 'date']

tmbd_movie_df columns:
['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title', 'popularity', 'release_date', 'title', 'vote_average', 'vote_count']

**Combined Datraframe**:

In [66]:
#change budget column name to title instead of movie
movie_budget_df = movie_budget_df.rename(columns={'movie': 'title'})
# Merge tmbd_movie_df and movie_gross_df]
main_df = pd.merge(tmbd_movie_df, movie_gross_df, on='title', how='left')
# Keep only the 'title' and 'production_budget' columns from movie_budget_df
main_budget_df = movie_budget_df[['title', 'production_budget']]
# Merge master_df and movie_budget_df
main_df = pd.merge(main_df, movie_budget_df, on='title', how='left')
# Drop unused column
column_to_drop = ['Unnamed: 0', 'release_date_y', 'domestic_gross_y', 'id_y', 'year']
main_df = main_df.drop(columns=column_to_drop)
#rename main_df columns to better reflact data
main_df = main_df.rename(columns={'id_x': 'id', 'release_date_x': 'release_date', 'domestic_gross_x': 'domestic_gross'})

Cleaning & filtering **MAIN_DF**:

In [67]:
# Filter to only english
main_df = main_df[main_df['original_language'] == 'en']
# Filter by 2010 and sooner
main_df = main_df[main_df['release_date'] >= '2010-01-01']
#Updateing 'production_budget' & 'worldwide_gross' columns
# First, replace $ and ,
main_df['production_budget'] = main_df['production_budget'].str.replace('$', '').str.replace(',', '')
main_df['worldwide_gross'] = main_df['worldwide_gross'].str.replace('$', '').str.replace(',', '')
# Fill NaNs with 0
main_df['production_budget'] = main_df['production_budget'].fillna(0)
main_df['worldwide_gross'] = main_df['worldwide_gross'].fillna(0)
# Now convert to int
main_df['production_budget'] = main_df['production_budget'].astype(int)
main_df['worldwide_gross'] = main_df['worldwide_gross'].astype(int)
# Adding Columns
main_df['net_profit'] = main_df['worldwide_gross'] - main_df['production_budget']
main_df['roi'] = main_df['net_profit'] / main_df['production_budget'] * 100
# Create a dictionary mapping genre IDs to names, all in lowercase
genre_dict = {28: 'action', 12: 'adventure', 16: 'animation', 35: 'comedy', 80: 'crime', 99: 'documentary', 
              18: 'drama', 10751: 'family', 14: 'fantasy', 36: 'history', 27: 'horror', 10402: 'music', 
              9648: 'mystery', 10749: 'romance', 878: 'science fiction', 10770: 'tv movie', 53: 'thriller', 
              10752: 'war', 37: 'western'}

def decode_genre_ids(genre_ids_string):
    # Convert string to list
    genre_ids = ast.literal_eval(genre_ids_string)
    # Return the genre names corresponding to the IDs
    return [genre_dict[id] for id in genre_ids if id in genre_dict]

# Apply the function to each value in the 'genre_ids' column
main_df['genres'] = main_df['genre_ids'].apply(decode_genre_ids)

In [ ]:
main_df.head()

In [ ]:
main_df.info()

In [ ]:
main_df.isna().sum().sort_values(ascending=False)

### movie_info_df: cleaned

In [ ]:
movie_info_df.info()

In [ ]:
movie_info_df.isna().sum().sort_values(ascending=False)

Cleaning & Filtering for **MOVIE_INFO_DF**:

In [97]:
# Dropping 8 null rows with missing genre. Most info is missing with them:
movie_info_df = movie_info_df.dropna(subset=['genre'])

# filling all empty values with 'unknown' for ['synopsis', 'runtime', 'director', 'theater_date', 'writer']:
columns_to_fill = ['synopsis', 'runtime', 'director', 'theater_date', 'writer']
movie_info_df[columns_to_fill] = movie_info_df[columns_to_fill].fillna('unknown')

# Filtering date to 2010 and forward
movie_info_df['theater_date'] = pd.to_datetime(movie_info_df['theater_date'], format='%b %d, %Y', errors='coerce')
movie_info_df = movie_info_df[movie_info_df['theater_date'] >= 'Jan 1, 2010']



# changing runtime to int + removing 'minutes' + changing name of the column to reflect:
movie_info_df.loc[movie_info_df['runtime'] != 'unknown', 'runtime'] = movie_info_df.loc[movie_info_df['runtime'] != 'unknown', 'runtime'].str.replace(' minutes', '').astype(int)
movie_info_df = movie_info_df.rename(columns={'runtime': 'runtime_in_minutes'})

# drop all 26 unknown runtimes:
movie_info_df = movie_info_df[movie_info_df['runtime_in_minutes'] != 'unknown']

In [ ]:
movie_info_df.head(3)

**MOVIE_INFO_DF** Analysis:

In [ ]:
# 81% of the movie market is rated PG-13, R and NR:
movie_info_df['rating'].value_counts()

In [98]:
# average movie length is just over 100 minutes
movie_info_df['runtime_in_minutes'].mean()

106.5228426395939

In [ ]:
# Top Directors
movie_info_df['director'].value_counts().head(20)

In [ ]:
# Top Writers
movie_info_df['writer'].value_counts().head(20)

In [ ]:
# Top Genres seem to be a mix of Drama & Comedy
movie_info_df['genre'].value_counts().head(20)

### movie_reviews_df: cleaned

In [ ]:
movie_reviews_df.info()

In [ ]:
movie_reviews_df.isna().sum().sort_values(ascending=False)

**MOVIE_REVIEWS_DF** Data cleaning:

In [ ]:
# Filtering to only top_critics == 1
movie_reviews_df = movie_reviews_df[movie_reviews_df['top_critic'] == 1]
# filling null 'publisher', 'critic', 'review' values with 'Unknown':
fill_columns = ['publisher', 'critic', 'review']
movie_reviews_df[fill_columns] = movie_reviews_df[fill_columns].fillna('unknown')
# Filtering date to 2010 and forward
movie_reviews_df['date'] = pd.to_datetime(movie_reviews_df['date'])
movie_reviews_df = movie_reviews_df[movie_reviews_df['date'] >= '2010-01-01']

In [ ]:
movie_reviews_df.head(20)

**MOVIE_REVIEW_DF** Analysis:

Top_Critics reviews = 4,713

In [ ]:
movie_reviews_df['top_critic'].sum()

Names of the top 20 critics:

In [ ]:
movie_reviews_df['critic'].value_counts().head(20)

Fresh vs. Rotten; 

- fresh = 60%
- Rotten = 40%

In [ ]:
movie_reviews_df['fresh'].value_counts()

---

# SQL DATABASE

* Unzipping the '**im.db.zip**' file 
* Connecting to database using '**conn**'
* Printing all of the **table names** within the database


**Important note**: movie_basics & movie_ratings are the most relevant per instructions

In [ ]:
# Unzip the database file
with zipfile.ZipFile('zippedData/im.db.zip', 'r') as zip_ref:
    zip_ref.extractall('zippedData')

# Connect to the unzipped SQLite database
conn = sqlite3.connect('zippedData/im.db')

# Run test query
q = """
SELECT tbl_name AS table_name, sql
FROM sqlite_master 
WHERE type='table'
ORDER BY name;
"""
pd.read_sql(q, conn)

In [ ]:
# Movie Basics
q = '''
SELECT *
FROM movie_basics
WHERE original_title LIKE "Toy%"
LIMIT 3
;
'''
pd.read_sql(q, conn)

In [ ]:
# Moving Ratings
q = '''
SELECT *
FROM movie_ratings
LIMIT 3
;
'''
pd.read_sql(q, conn)

In [ ]:
# Directors
q = '''
SELECT *
FROM directors
LIMIT 3
;
'''
pd.read_sql(q, conn)

In [ ]:
# Known For
q = '''
SELECT *
FROM known_for
LIMIT 3
;
'''
pd.read_sql(q, conn)

In [ ]:
# Movie AKAs
q = '''
SELECT *
FROM movie_akas
LIMIT 3
;
'''
pd.read_sql(q, conn)

In [ ]:
# Persons
q = '''
SELECT *
FROM persons
LIMIT 3
;
'''
pd.read_sql(q, conn)

In [ ]:
# Pricipals
q = '''
SELECT *
FROM principals
LIMIT 3
;
'''
pd.read_sql(q, conn)

In [ ]:
# Writers
q = '''
SELECT *
FROM writers
LIMIT 3
;
'''
pd.read_sql(q, conn)

---

In [ ]:
# joined file
q = '''
SELECT *
FROM movie_basics mb
JOIN directors dr USING(movie_id)
JOIN principals pr USING(movie_id)
JOIN persons p USING(person_id)
JOIN movie_ratings mr USING(movie_id)
WHERE death_year IS NULL
GROUP BY movie_id
ORDER BY start_year
;
'''
pd.read_sql(q, conn)

# **Recommendations**

### Worldwide vs Domestic vs Foreign:

* based on the data from our dataframes, we have decided recommend launching your movie **Worldwide**. 
* We ran into a lot of data limitations when breaking down domestic vs foreign but we had plenty to work with as it pertained to **production budget** & **worldwide**.
* **We recommend launching the movie worldwide**

Further Filtering:

In [94]:
calc_df = main_df

# Filtering columns
calc_df = calc_df[calc_df['production_budget'] > 0]
calc_df = calc_df[calc_df['worldwide_gross'] > 0]
calc_df = calc_df[calc_df['roi'] > 0]
calc_df = calc_df[calc_df['domestic_gross'] > 0]
calc_df = calc_df[~calc_df['foreign_gross'].isna()]
# Sorting values
calc_df = calc_df.sort_values('roi', ascending=False)
# removing movie duplicates
calc_df = calc_df.loc[~calc_df['roi'].duplicated(), :]

Based on **top 10 movies (ROI)**

* The best ROI ranges from **41,560% to 3,852%** increse
* **70%** of the top ROI movies are a mix of **Horror** and **Thriller**
* **We recommend making a HORROR/THRILLER MOVIE**

In [93]:
calc_df[['title', 'roi', 'genres']].head(10)

                       title           roi               genres
14420            The Gallows  41556.474000   [horror, thriller]
5468        The Devil Inside  10075.949000   [thriller, horror]
2512               Insidious   6558.059067   [horror, thriller]
14490             Unfriended   6336.419800   [horror, thriller]
235    Paranormal Activity 2   5817.067733   [horror, thriller]
17455                  Split   5479.296120   [horror, thriller]
1541                 Get Out   5007.359020  [comedy, animation]
5253       Chernobyl Diaries   4141.172100   [horror, thriller]
2663   Paranormal Activity 3   4040.796880             [horror]
11133              Annabelle   3851.737231             [horror]

Here are the **individual genre counts** across all movies for visability:

In [84]:
genre_counts = calc_df['genres'].explode().value_counts()
genre_counts

drama              342
comedy             315
action             256
thriller           220
adventure          198
family             130
science fiction    122
crime              104
romance            104
fantasy            104
horror              94
animation           82
mystery             63
history             36
music               18
war                 17
documentary         11
western              7
Name: genres, dtype: int64

**Movie length (minutes)**

* We found that the average movie length was just over **106 mintues**.
* **We recommend keeping the movie length between 100-110 minutes**

In [99]:
# average movie length is just over 100 minutes
movie_info_df['runtime_in_minutes'].mean()

106.5228426395939

In [79]:
calc_df.head(30)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,studio,domestic_gross,foreign_gross,production_budget,worldwide_gross,net_profit,roi,genres
14420,"[27, 53]",299245,en,The Gallows,9.166,2015-07-10,The Gallows,4.8,591,WB (NL),22800000.0,20200000,100000,41656474,41556474,41556.474000,"[horror, thriller]"
5468,"[53, 27]",76487,en,The Devil Inside,7.403,2012-01-06,The Devil Inside,4.7,441,Par.,53300000.0,48500000,1000000,101759490,100759490,10075.949000,"[thriller, horror]"
2512,"[27, 53]",49018,en,Insidious,16.197,2011-04-01,Insidious,6.9,3582,FD,54000000.0,43000000,1500000,99870886,98370886,6558.059067,"[horror, thriller]"
14490,"[27, 53]",277685,en,Unfriended,8.120,2015-04-17,Unfriended,5.4,2019,Uni.,32500000.0,31600000,1000000,64364198,63364198,6336.419800,"[horror, thriller]"
235,"[27, 53]",41436,en,Paranormal Activity 2,8.163,2010-10-21,Paranormal Activity 2,5.7,1342,Par.,84800000.0,92800000,3000000,177512032,174512032,5817.067733,"[horror, thriller]"
17455,"[27, 53]",381288,en,Split,25.783,2016-09-26,Split,7.2,10375,Uni.,138300000.0,140200000,5000000,278964806,273964806,5479.296120,"[horror, thriller]"
1541,"[35, 16]",130627,en,Get Out,0.834,2010-02-01,Get Out,5.5,8,Uni.,176000000.0,79400000,5000000,255367951,250367951,5007.359020,"[comedy, animation]"
5253,"[27, 53]",93856,en,Chernobyl Diaries,14.658,2012-05-25,Chernobyl Diaries,5.0,842,WB,18100000.0,19000000,1000000,42411721,41411721,4141.172100,"[horror, thriller]"
2663,[27],72571,en,Paranormal Activity 3,9.669,2011-10-21,Paranormal Activity 3,5.9,1197,Par.,104000000.0,103000000,5000000,207039844,202039844,4040.796880,[horror]
11133,[27],250546,en,Annabelle,13.989,2014-10-03,Annabelle,5.6,3357,WB (NL),84300000.0,172800000,6500000,256862920,250362920,3851.737231,[horror]
171,"[27, 18, 53]",38358,en,The Last Exorcism,9.350,2010-08-27,The Last Exorcism,5.6,519,LGF,41000000.0,26700000,1800000,70165900,68365900,3798.105556,"[horror, drama, thriller]"
7914,"[878, 27, 53]",158015,en,The Purge,24.364,2013-06-06,The Purge,6.2,4797,Uni.,64500000.0,24900000,3000000,91266581,88266581,2942.219367,"[science fiction, horror, thriller]"
17559,"[53, 9648, 27]",345911,en,Lights Out,12.408,2016-07-22,Lights Out,6.3,2220,WB (NL),67300000.0,81600000,5000000,148806510,143806510,2876.130200,"[thriller, mystery, horror]"
5274,"[27, 53, 9648]",82507,en,Sinister,13.117,2012-10-12,Sinister,6.8,2935,LG/S,48100000.0,29600000,3000000,87727807,84727807,2824.260233,"[horror, thriller, mystery]"
5371,[27],82990,en,Paranormal Activity 4,8.965,2012-10-19,Paranormal Activity 4,5.4,1026,Par.,53900000.0,88900000,5000000,142817992,137817992,2756.359840,[horror]
9720,[27],227907,en,Truth or Dare,0.840,2013-09-13,Truth or Dare,4.7,3,Uni.,41400000.0,53900000,3500000,95127344,91627344,2617.924114,[horror]
50,"[18, 53]",44214,en,Black Swan,13.745,2010-12-03,Black Swan,7.6,8374,FoxS,107000000.0,222400000,13000000,331266710,318266710,2448.205462,"[drama, thriller]"
20734,"[27, 9648, 53]",440021,en,Happy Death Day,21.230,2017-10-13,Happy Death Day,6.6,3211,Uni.,55700000.0,69800000,5000000,125010260,120010260,2400.205200,"[horror, mystery, thriller]"
5265,"[18, 35]",77930,en,Magic Mike,13.700,2012-06-29,Magic Mike,6.1,1850,WB,113700000.0,53500000,7000000,170549753,163549753,2336.425043,"[drama, comedy]"
8256,"[35, 27]",139038,en,A Haunted House,6.909,2013-01-11,A Haunted House,5.5,871,ORF,40000000.0,20100000,2500000,59922558,57422558,2296.902320,"[comedy, horror]"
17485,"[53, 878, 18]",333371,en,10 Cloverfield Lane,17.892,2016-03-11,10 Cloverfield Lane,6.9,4629,Par.,72100000.0,38100000,5000000,108286422,103286422,2065.728440,"[thriller, science fiction, drama]"
17506,"[35, 18, 10749]",313369,en,La La Land,16.275,2016-12-09,La La Land,7.9,10028,LG/S,151100000.0,295000000,20000000,426351163,406351163,2031.755815,"[comedy, drama, romance]"
11123,[27],242512,en,Ouija,15.389,2014-10-24,Ouija,5.1,1670,Uni.,50900000.0,52700000,5000000,103300632,98300632,1966.012640,[horror]
20733,"[27, 9648, 53]",396422,en,Annabelle: Creation,21.245,2017-08-11,Annabelle: Creation,6.5,3141,WB (NL),102100000.0,204400000,15000000,305384865,290384865,1935.899100,"[horror, mystery, thriller]"
24094,"[27, 53]",346364,en,It,13.966,2017-09-08,It,7.2,10931,WB (NL),327500000.0,372900000,35000000,697457969,662457969,1892.737054,"[horror, thriller]"
16466,[],458631,en,The Visit,0.631,2015-05-01,The Visit,8.0,1,Uni.,65200000.0,33200000,5000000,98677816,93677816,1873.556320,[]
23934,"[18, 27, 53, 878]",447332,en,A Quiet Place,29.154,2018-04-06,A Quiet Place,7.3,5848,Par.,188000000.0,152900000,17000000,334522294,317522294,1867.778200,"[drama, horror, thriller, science fiction]"
8063,[18],157354,en,Fruitvale Station,9.587,2013-07-26,Fruitvale Station,7.4,645,Wein.,16100000.0,1300000,900000,17549645,16649645,1849.960556,[drama]
11250,"[27, 53]",227348,en,Paranormal Activity: The Marked Ones,9.446,2014-01-03,Paranormal Activity: The Marked Ones,5.3,752,Par.,32500000.0,58400000,5000000,90904854,85904854,1718.097080,"[horror, thriller]"
24048,"[9648, 27, 53]",406563,en,Insidious: The Last Key,16.017,2018-01-05,Insidious: The Last Key,6.1,1306,Uni.,67700000.0,100100000,10000000,167885588,157885588,1578.855880,"[mystery, horror, thriller]"