## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Importing libraries
import pandas as pd
import sqlite3
import numpy as np

In [2]:
pd.options.display.max_columns = None

# Preparation of Dataset

## Accessing the different datasets

### Box Office Mojo Website

In [3]:

box_movie_gross_df = pd.read_csv("zippedData/bom.movie_gross.csv.gz")
box_movie_gross_df.head(10)

# This dataset contains the domestic and foreign revenue generated by different movies from Box Office Movie Mojo

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How to Train Your Dragon,P/DW,217600000.0,277300000,2010

In [4]:
# unifying naming convention in title column
box_movie_gross_df["title"] = box_movie_gross_df["title"].str.title()
box_movie_gross_df["title"] = box_movie_gross_df["title"].str.strip()

In [5]:
#Removing instances where date might be on the movie title and special characters
box_movie_gross_df['title'] = box_movie_gross_df['title'].str.replace(r'\s*\(\d{4}\)', '', regex=True)
box_movie_gross_df['title'] = box_movie_gross_df['title'].str.replace(r'[^\w\s]', '',regex=True)

In [6]:
box_movie_gross_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [7]:
box_movie_gross_df.head(10)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice In Wonderland,BV,334200000.0,691300000,2010
2,Harry Potter And The Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How To Train Your Dragon,P/DW,217600000.0,277300000,2010

### Moviesdb Website

In [8]:

moviesdb_df =pd.read_csv("zippedData/tmdb.movies.csv.gz")

moviesdb_df.head(10)

#dataset contains moviesdb ratings of different titles

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
5,5,"[12, 14, 10751]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229
6,6,"[28, 12, 14, 878]",19995,en,Avatar,26.526,2009-12-18,Avatar,7.4,18676
7,7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340
8,8,"[16, 10751, 35]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057
9,9,"[16, 28, 35, 10751, 878]",38055,en,Megamind,22.855,2010-11-04,Megamind,6.8,3635

In [9]:
# converting all string to title case and stripped and removing special characters
moviesdb_df = moviesdb_df.applymap(lambda x:x.strip()  if isinstance(x,str)else x)
moviesdb_df = moviesdb_df.applymap(lambda x:x.title()  if isinstance(x,str)else x)
moviesdb_df['original_title'] = moviesdb_df['original_title'].str.replace(r'[^\w\s]', '',regex=True)
moviesdb_df['title'] = moviesdb_df['title'].str.replace(r'[^\w\s]', '',regex=True)

In [10]:
#renaming some columns for easier readability
moviesdb_df= moviesdb_df.rename(columns={"vote_average":"moviedb_average_rating", "vote_count":"moviedb_number_of_votes"})

In [11]:
moviesdb_df.head(10)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,moviedb_average_rating,moviedb_number_of_votes
0,0,"[12, 14, 10751]",12444,En,Harry Potter And The Deathly Hallows Part 1,33.533,2010-11-19,Harry Potter And The Deathly Hallows Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,En,How To Train Your Dragon,28.734,2010-03-26,How To Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,En,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,En,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,En,Inception,27.920,2010-07-16,Inception,8.3,22186
5,5,"[12, 14, 10751]",32657,En,Percy Jackson The Olympians The Lightning Thief,26.691,2010-02-11,Percy Jackson The Olympians The Lightning Thief,6.1,4229
6,6,"[28, 12, 14, 878]",19995,En,Avatar,26.526,2009-12-18,Avatar,7.4,18676
7,7,"[16, 10751, 35]",10193,En,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340
8,8,"[16, 10751, 35]",20352,En,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057
9,9,"[16, 28, 35, 10751, 878]",38055,En,Megamind,22.855,2010-11-04,Megamind,6.8,3635

### Rotten Tomato Website

In [12]:
rt_movie_info = pd.read_csv("zippedData/rt.movie_info.tsv.gz",sep='\t')
rt_movie_info.head(10)

#contains movie info from rotten tomatoes website

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
5,8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,"Mar 3, 2000","Jul 11, 2000",NaN,NaN,95 minutes,Warner Bros. Pictures
6,10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,"41,032,915",82 minutes,Paramount Pictures
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics
8,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,"134,904",117 minutes,NaN
9,15,When a diamond expedition in the Congo is lost...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Frank Marshall,John Patrick Shanley,"Jun 9, 1995","Jul 27, 1999",NaN,NaN,108 minutes,NaN

In [13]:
rt_reviews_df = pd.read_csv("zippedData/rt.reviews.tsv.gz",sep="\t",encoding="latin_1")
rt_reviews_df.head(10)


#contains reviews of various movies from the rotten tomato website

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
5,3,... Cronenberg's Cosmopolis expresses somethin...,NaN,fresh,Michelle Orange,0,Capital New York,"September 11, 2017"
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013"
8,3,"Cronenberg's cold, exacting precision and emot...",NaN,fresh,Sean Axmaker,0,Parallax View,"March 24, 2013"
9,3,Over and above its topical urgency or the bit ...,NaN,fresh,Kong Rithdee,0,Bangkok Post,"March 4, 2013"

### The Numbers Website

In [14]:
thenumbers_df =pd.read_csv("zippedData/tn.movie_budgets.csv.gz")

thenumbers_df.head(10)

# contains the production budget and revenue of various movies sourced from the Numbers website

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"

In [15]:
thenumbers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [16]:
# Removing special characters from the movie title name
thenumbers_df['movie'] = thenumbers_df['movie'].str.replace(r'[^\w\s]', '',regex=True)

In [17]:
# stripping the movie title and keeping them on title case
thenumbers_df['movie'] = thenumbers_df['movie'].str.strip()
thenumbers_df['movie'] = thenumbers_df['movie'].str.title()

In [18]:
thenumbers_df.head(10)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates Of The Caribbean On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers Age Of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep Viii The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep Vii The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates Of The Caribbean At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"

### IMDB website

In [19]:
conn=sqlite3.connect("zippedData/im.db/im.db")
cur= conn.cursor()

In [20]:
%%script sqlite3 zippedData/im.db/im.db --out tables
.tables
.quit

In [21]:
print(tables)

directors      movie_akas     movie_ratings  principals
known_for      movie_basics   persons        writers

In [22]:
query = """ 
SELECT 
    mb.movie_id,
    mb.primary_title,
    mb.original_title,
    mb.genres,
    mb.start_year AS release_year,
    mb.runtime_minutes AS film_runtime,
    mr.averagerating AS imdb_average_rating,
    mr.numvotes AS imdb_number_of_votes,
    GROUP_CONCAT(DISTINCT(p.primary_name)) AS directors
FROM movie_basics AS mb
LEFT JOIN movie_ratings AS mr ON mb.movie_id = mr.movie_id
JOIN
directors AS d
USING (movie_id)
JOIN
persons AS p
USING (person_id)
GROUP BY mb.movie_id;
"""

imdb_df=pd.read_sql(query,conn)

In [23]:
imdb_df.sample(20)

,movie_id,primary_title,original_title,genres,release_year,film_runtime,imdb_average_rating,imdb_number_of_votes,directors
51774,tt3141498,The Nightmare,Der Nachtmahr,"Drama,Horror,Mystery",2015,92.0,6.6,2263.0,Akiz
131048,tt8688912,Chi La Sow,Chi La Sow,Comedy,2018,135.0,7.9,508.0,Rahul Ravindran
70245,tt4125654,Butterfly Caught,Butterfly Caught,Drama,2017,107.0,4.7,216.0,Manny Rodriguez Jr.
116084,tt7279052,"The Pirate, the Witch and the Weirdo","The Pirate, the Witch and the Weirdo",Fantasy,2019,NaN,NaN,NaN,Leigh Scott
67809,tt3981888,Sobrevivente Urbano,Sobrevivente Urbano,"Action,Thriller",2014,113.0,NaN,NaN,José Claudio Cunha E Silva
16847,tt1788421,Night Sky,Night Sky,"Adventure,Fantasy,Music",2011,63.0,NaN,NaN,Alison O'Daniel
127968,tt8351730,As Vozes do Fado,As Vozes do Fado,Documentary,2017,84.0,NaN,NaN,"Ruben Alves,Christophe Fonseca"
136185,tt9277762,Baaram,Baaram,Drama,2018,91.0,7.4,16.0,Priya Krishnaswamy
52284,tt3168574,Alegría: A Humanitarian Expedition,Alegría: A Humanitarian Expedition,"Action,Adventure,Documentary",2013,28.0,NaN,NaN,Christoph von Toggenburg
78236,tt4624800,Oklahoma Sun,Oklahoma Sun,Biography,2016,NaN,NaN,NaN,Andrew Andrade
109724,tt6741160,Life and Death on the Shore,Umibe no sei to shi,Drama,2017,NaN,5.9,34.0,Michio Koshikawa
79701,tt4715072,Abschied,Abschied,Drama,2014,75.0,NaN,NaN,Ludwig Wüst
27979,tt2114375,"Dylan Moran: Yeah, Yeah","Dylan Moran: Yeah, Yeah","Comedy,Documentary",2011,93.0,8.1,685.0,Paul Machliss
41694,tt2566292,Dead Giveaway: The Motion Picture,Dead Giveaway: The Motion Picture,"Comedy,Crime,Drama",2017,158.0,NaN,NaN,Benjamin M. Allotey
136994,tt9390184,Lalijo Lalijo,Lalijo Lalijo,Thriller,2018,NaN,NaN,NaN,Mohan Srivatsasa
131705,tt8768884,When It Comes Around,When It Comes Around,"Drama,Romance",2018,90.0,4.6,27.0,Dan Garcia
120017,tt7604472,Love of Dogs: Dog Rescue Beyond Borders,Love of Dogs: Dog Rescue Beyond Borders,Documentary,2017,NaN,NaN,NaN,Joyce Chow
50301,tt3068902,Two Idiots & a Bomb,Two Idiots & a Bomb,Comedy,2013,211.0,NaN,NaN,Craig Young
93876,tt5651868,Onedari kyôen: Shikijô yûrei,Onedari kyôen: Shikijô yûrei,None,2012,60.0,NaN,NaN,Mototsugu Watanabe
118160,tt7453746,Pulling Push Doors,Pulling Push Doors,"Comedy,Drama,Romance",2017,85.0,5.8,24.0,Aaron Hendren

In [24]:
# converting strings into title case and stripped
imdb_df = imdb_df.applymap(lambda x:x.strip() if isinstance(x,str)else x)
imdb_df = imdb_df.applymap(lambda x:x.title() if isinstance(x,str)else x)
imdb_df['primary_title'] = imdb_df['primary_title'].str.replace(r'[^\w\s]', '',regex=True)
imdb_df['original_title'] = imdb_df['original_title'].str.replace(r'[^\w\s]', '',regex=True)

In [25]:
imdb_df.head(20)

,movie_id,primary_title,original_title,genres,release_year,film_runtime,imdb_average_rating,imdb_number_of_votes,directors
0,Tt0063540,Sunghursh,Sunghursh,"Action,Crime,Drama",2013,175.0,7.0,77.0,Harnam Singh Rawail
1,Tt0066787,One Day Before The Rainy Season,Ashad Ka Ek Din,"Biography,Drama",2019,114.0,7.2,43.0,Mani Kaul
2,Tt0069049,The Other Side Of The Wind,The Other Side Of The Wind,Drama,2018,122.0,6.9,4517.0,Orson Welles
3,Tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,"Comedy,Drama",2018,NaN,6.1,13.0,Hrishikesh Mukherjee
4,Tt0100275,The Wandering Soap Opera,La Telenovela Errante,"Comedy,Drama,Fantasy",2017,80.0,6.5,119.0,"Raoul Ruiz,Valeria Sarmiento"
5,Tt0111414,A Thin Life,A Thin Life,Comedy,2018,75.0,NaN,NaN,Frank Howson
6,Tt0112502,Bigfoot,Bigfoot,"Horror,Thriller",2017,NaN,4.1,32.0,Mc Jones
7,Tt0137204,Joe Finds Grace,Joe Finds Grace,"Adventure,Animation,Comedy",2017,83.0,8.1,263.0,Anthony Harrison
8,Tt0139613,O Silêncio,O Silêncio,"Documentary,History",2012,NaN,NaN,NaN,"José Manuel Alves Pereira,António Loja Neves"
9,Tt0144449,Nema Aviona Za Zagreb,Nema Aviona Za Zagreb,Biography,2012,82.0,NaN,NaN,Louis Van Gasteren
10,Tt0146592,Pál Adrienn,Pál Adrienn,Drama,2010,136.0,6.8,451.0,Ágnes Kocsis
11,Tt0154039,So Much For Justice,Oda Az Igazság,History,2010,100.0,4.6,64.0,Miklós Jancsó
12,Tt0159369,Cooper And Hemingway The True Gen,Cooper And Hemingway The True Gen,Documentary,2013,180.0,7.6,53.0,John Mulholland
13,Tt0162942,Children Of The Green Dragon,A Zöld Sárkány Gyermekei,Drama,2010,89.0,6.9,120.0,Bence Miklauzic
14,Tt0170651,TGM Osvoboditel,TGM Osvoboditel,Documentary,2018,60.0,7.5,6.0,Vera Chytilová
15,Tt0176694,The Tragedy Of Man,Az Ember Tragédiája,"Animation,Drama,History",2011,160.0,7.8,584.0,Marcell Jankovics
16,Tt0192528,Heaven Hell,Reverse Heaven,Drama,2018,104.0,4.0,72.0,Stuart Paul
17,Tt0230212,The Final Journey,The Final Journey,Drama,2010,120.0,8.8,8.0,R.J. Adams
18,Tt0247643,Los Pájaros Se Van Con La Muerte,Los Pájaros Se Van Con La Muerte,"Drama,Mystery",2011,110.0,4.0,12.0,Thaelman Urgelles
19,Tt0249516,Foodfight,Foodfight,"Action,Animation,Comedy",2012,91.0,1.9,8248.0,Lawrence Kasanoff

## Merging dataset

### merging imdb dataset to

In [26]:
# Merging the imdb website with the numbers website

merged_imdb_the_numbers = imdb_df.merge(thenumbers_df, left_on= "primary_title",right_on = "movie", how = "inner")

In [27]:
# Merge the merged dataset to the moviedb website
merged_to_moviedb = merged_imdb_the_numbers.merge(moviesdb_df,left_on = "primary_title", right_on = "original_title", how = "inner")

In [28]:
# Merge the merged dataset to the box office website
merged_to_box_office = merged_to_moviedb.merge(box_movie_gross_df, left_on = "primary_title", right_on="title", how = "inner")

In [29]:
merged_to_box_office.head()

,movie_id,primary_title,original_title_x,genres,release_year,film_runtime,imdb_average_rating,imdb_number_of_votes,directors,id_x,release_date_x,movie,production_budget,domestic_gross_x,worldwide_gross,Unnamed: 0,genre_ids,id_y,original_language,original_title_y,popularity,release_date_y,title_x,moviedb_average_rating,moviedb_number_of_votes,title_y,studio,domestic_gross_y,foreign_gross,year
0,Tt0337692,On The Road,On The Road,"Adventure,Drama,Romance",2012,124.0,6.1,37886.0,Walter Salles,17,"Mar 22, 2013",On The Road,"$25,000,000","$720,828","$9,313,302",5350,"[12, 18]",83770,En,On The Road,8.919,2012-12-21,On The Road,5.6,518,On The Road,IFC,744000.0,8000000,2012
1,Tt2404548,On The Road,On The Road,Drama,2011,90.0,NaN,NaN,Harutyun Azaryan,17,"Mar 22, 2013",On The Road,"$25,000,000","$720,828","$9,313,302",5350,"[12, 18]",83770,En,On The Road,8.919,2012-12-21,On The Road,5.6,518,On The Road,IFC,744000.0,8000000,2012
2,Tt3872966,On The Road,On The Road,Documentary,2013,87.0,NaN,NaN,Marvin Dau,17,"Mar 22, 2013",On The Road,"$25,000,000","$720,828","$9,313,302",5350,"[12, 18]",83770,En,On The Road,8.919,2012-12-21,On The Road,5.6,518,On The Road,IFC,744000.0,8000000,2012
3,Tt4339118,On The Road,On The Road,Drama,2014,89.0,6.0,6.0,Poong-Ki Kim,17,"Mar 22, 2013",On The Road,"$25,000,000","$720,828","$9,313,302",5350,"[12, 18]",83770,En,On The Road,8.919,2012-12-21,On The Road,5.6,518,On The Road,IFC,744000.0,8000000,2012
4,Tt5389486,On The Road,On The Road,Documentary,2015,39.0,NaN,NaN,Maxim Sliussarev,17,"Mar 22, 2013",On The Road,"$25,000,000","$720,828","$9,313,302",5350,"[12, 18]",83770,En,On The Road,8.919,2012-12-21,On The Road,5.6,518,On The Road,IFC,744000.0,8000000,2012

In [30]:
merged_to_box_office.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3257 entries, 0 to 3256
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   movie_id                 3257 non-null   object
 1   primary_title            3257 non-null   object
 2   original_title_x         3257 non-null   object
 3   genres                   3230 non-null   object
 4   release_year             3257 non-null   int64
 5   film_runtime             3001 non-null   float64
 6   imdb_average_rating      2431 non-null   float64
 7   imdb_number_of_votes     2431 non-null   float64
 8   directors                3257 non-null   object
 9   id_x                     3257 non-null   int64
 10  release_date_x           3257 non-null   object
 11  movie                    3257 non-null   object
 12  production_budget        3257 non-null   object
 13  domestic_gross_x         3257 non-null   object
 14  worldwide_gross          3257 non-null   object
 15  Unnamed: 0               3257 non-null   int64
 16  genre_ids                3257 non-null   object
 17  id_y                     3257 non-null   int64
 18  original_language        3257 non-null   object
 19  original_title_y         3257 non-null   object
 20  popularity               3257 non-null   float64
 21  release_date_y           3257 non-null   object
 22  title_x                  3257 non-null   object
 23  moviedb_average_rating   3257 non-null   float64
 24  moviedb_number_of_votes  3257 non-null   int64
 25  title_y                  3257 non-null   object
 26  studio                   3257 non-null   object
 27  domestic_gross_y         3257 non-null   float64
 28  foreign_gross            2778 non-null   object
 29  year                     3257 non-null   int64
dtypes: float64(6), int64(6), object(18)
memory usage: 788.8+ KB

In [31]:
#dropping duplicated columns caused by merging of the dataset
merged_to_box_office=merged_to_box_office.drop(["movie_id","original_title_x","id_x","movie","Unnamed: 0","genre_ids","id_y","original_title_y","title_x","title_y"], axis = 1)

In [32]:
merged_to_box_office.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3257 entries, 0 to 3256
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   primary_title            3257 non-null   object
 1   genres                   3230 non-null   object
 2   release_year             3257 non-null   int64
 3   film_runtime             3001 non-null   float64
 4   imdb_average_rating      2431 non-null   float64
 5   imdb_number_of_votes     2431 non-null   float64
 6   directors                3257 non-null   object
 7   release_date_x           3257 non-null   object
 8   production_budget        3257 non-null   object
 9   domestic_gross_x         3257 non-null   object
 10  worldwide_gross          3257 non-null   object
 11  original_language        3257 non-null   object
 12  popularity               3257 non-null   float64
 13  release_date_y           3257 non-null   object
 14  moviedb_average_rating   3257 non-null   float64
 15  moviedb_number_of_votes  3257 non-null   int64
 16  studio                   3257 non-null   object
 17  domestic_gross_y         3257 non-null   float64
 18  foreign_gross            2778 non-null   object
 19  year                     3257 non-null   int64
dtypes: float64(6), int64(3), object(11)
memory usage: 534.4+ KB

In [33]:
# dealing with date columns
# release_year
merged_to_box_office['release_year'] = pd.to_datetime(merged_to_box_office['release_year'], format='%Y')
# release_date_x
merged_to_box_office['release_date_x'] = pd.to_datetime(merged_to_box_office['release_date_x'],format='%b %d, %Y' ,yearfirst= True, errors= 'raise')
#release_date_y
merged_to_box_office['release_date_y'] = pd.to_datetime(merged_to_box_office['release_date_y'],format = "%Y-%m-%d", yearfirst= True,errors = "raise")
#year
merged_to_box_office['year'] = pd.to_datetime(merged_to_box_office['year'],format='%Y')

In [34]:
#creating a column that will store the year a movie released
merged_to_box_office['release_year'] = merged_to_box_office['release_year'].dt.year

In [35]:
# creating a column that will store the month a movie was released
merged_to_box_office['release_month'] = merged_to_box_office['release_date_x'].dt.month_name()

In [36]:
#filling null values in release_year
merged_to_box_office['release_year'] = merged_to_box_office['release_year'].fillna(merged_to_box_office['release_date_x'].dt.year).fillna(merged_to_box_office['release_date_y'].dt.year).fillna(merged_to_box_office['year'].dt.year)

#filling null values in release_month
merged_to_box_office['release_month'] = merged_to_box_office['release_month'].fillna(merged_to_box_office['release_date_y'].dt.month_name())

In [37]:
# Dropping the extra date columns

merged_to_box_office=merged_to_box_office.drop(["release_date_x","release_date_y","year"], axis= 1)

In [38]:
merged_to_box_office.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3257 entries, 0 to 3256
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   primary_title            3257 non-null   object
 1   genres                   3230 non-null   object
 2   release_year             3257 non-null   int64
 3   film_runtime             3001 non-null   float64
 4   imdb_average_rating      2431 non-null   float64
 5   imdb_number_of_votes     2431 non-null   float64
 6   directors                3257 non-null   object
 7   production_budget        3257 non-null   object
 8   domestic_gross_x         3257 non-null   object
 9   worldwide_gross          3257 non-null   object
 10  original_language        3257 non-null   object
 11  popularity               3257 non-null   float64
 12  moviedb_average_rating   3257 non-null   float64
 13  moviedb_number_of_votes  3257 non-null   int64
 14  studio                   3257 non-null   object
 15  domestic_gross_y         3257 non-null   float64
 16  foreign_gross            2778 non-null   object
 17  release_month            3257 non-null   object
dtypes: float64(6), int64(2), object(10)
memory usage: 483.5+ KB

In [39]:
#changed the currency columns from string datatype to float
merged_to_box_office['production_budget'] = merged_to_box_office['production_budget'].replace({'\$': '', ',': ''}, regex=True).astype(float)
merged_to_box_office['domestic_gross_x']= merged_to_box_office['domestic_gross_x'].replace({'\$': '', ',': ''}, regex=True).astype(float)
merged_to_box_office['foreign_gross'] = merged_to_box_office['foreign_gross'].replace({'\$': '', ',': ''},regex= True).astype(float)
merged_to_box_office['worldwide_gross']= merged_to_box_office['worldwide_gross'].replace({'\$': '', ',': ''}, regex=True).astype(float)

In [40]:
#unifying the domestic gross column
merged_to_box_office['domestic_gross']=merged_to_box_office['domestic_gross_x']
merged_to_box_office['domestic_gross']=merged_to_box_office['domestic_gross'].fillna(merged_to_box_office['domestic_gross_y'])

#unifying the foreign gross column

merged_to_box_office["worldwide_gross"]= merged_to_box_office['worldwide_gross'].fillna(merged_to_box_office['foreign_gross'])

In [41]:
#dropping duplicated currency columns
merged_to_box_office = merged_to_box_office.drop(['domestic_gross_x','domestic_gross_y','foreign_gross'],axis = 1)

In [42]:
merged_to_box_office.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3257 entries, 0 to 3256
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   primary_title            3257 non-null   object
 1   genres                   3230 non-null   object
 2   release_year             3257 non-null   int64
 3   film_runtime             3001 non-null   float64
 4   imdb_average_rating      2431 non-null   float64
 5   imdb_number_of_votes     2431 non-null   float64
 6   directors                3257 non-null   object
 7   production_budget        3257 non-null   float64
 8   worldwide_gross          3257 non-null   float64
 9   original_language        3257 non-null   object
 10  popularity               3257 non-null   float64
 11  moviedb_average_rating   3257 non-null   float64
 12  moviedb_number_of_votes  3257 non-null   int64
 13  studio                   3257 non-null   object
 14  release_month            3257 non-null   object
 15  domestic_gross           3257 non-null   float64
dtypes: float64(8), int64(2), object(6)
memory usage: 432.6+ KB

In [43]:
columns = merged_to_box_office.columns.to_list()
columns

['primary_title',
 'genres',
 'release_year',
 'film_runtime',
 'imdb_average_rating',
 'imdb_number_of_votes',
 'directors',
 'production_budget',
 'worldwide_gross',
 'original_language',
 'popularity',
 'moviedb_average_rating',
 'moviedb_number_of_votes',
 'studio',
 'release_month',
 'domestic_gross']

In [44]:
columns_reordered= ['primary_title',
 'genres',
 'directors',
 'studio',
 'release_year',
 'release_month',
 'film_runtime',
 'imdb_average_rating',
 'imdb_number_of_votes',
 'production_budget',
 'domestic_gross',
 'worldwide_gross',
 'original_language',
 'popularity',
 'moviedb_average_rating',
 'moviedb_number_of_votes']

merged_to_box_office = merged_to_box_office[columns_reordered]
merged_to_box_office.head()

,primary_title,genres,directors,studio,release_year,release_month,film_runtime,imdb_average_rating,imdb_number_of_votes,production_budget,domestic_gross,worldwide_gross,original_language,popularity,moviedb_average_rating,moviedb_number_of_votes
0,On The Road,"Adventure,Drama,Romance",Walter Salles,IFC,2012,March,124.0,6.1,37886.0,25000000.0,720828.0,9313302.0,En,8.919,5.6,518
1,On The Road,Drama,Harutyun Azaryan,IFC,2011,March,90.0,NaN,NaN,25000000.0,720828.0,9313302.0,En,8.919,5.6,518
2,On The Road,Documentary,Marvin Dau,IFC,2013,March,87.0,NaN,NaN,25000000.0,720828.0,9313302.0,En,8.919,5.6,518
3,On The Road,Drama,Poong-Ki Kim,IFC,2014,March,89.0,6.0,6.0,25000000.0,720828.0,9313302.0,En,8.919,5.6,518
4,On The Road,Documentary,Maxim Sliussarev,IFC,2015,March,39.0,NaN,NaN,25000000.0,720828.0,9313302.0,En,8.919,5.6,518

In [45]:
conn.close()

In [46]:
merged_dataset = merged_to_box_office.copy()

# Data cleaning

In [47]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3257 entries, 0 to 3256
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   primary_title            3257 non-null   object
 1   genres                   3230 non-null   object
 2   directors                3257 non-null   object
 3   studio                   3257 non-null   object
 4   release_year             3257 non-null   int64
 5   release_month            3257 non-null   object
 6   film_runtime             3001 non-null   float64
 7   imdb_average_rating      2431 non-null   float64
 8   imdb_number_of_votes     2431 non-null   float64
 9   production_budget        3257 non-null   float64
 10  domestic_gross           3257 non-null   float64
 11  worldwide_gross          3257 non-null   float64
 12  original_language        3257 non-null   object
 13  popularity               3257 non-null   float64
 14  moviedb_average_rating   3257 non-null   float64
 15  moviedb_number_of_votes  3257 non-null   int64
dtypes: float64(8), int64(2), object(6)
memory usage: 432.6+ KB

In [48]:
# dropping duplicated values in instances where the movie_name,genre,directors and release year are the same
merged_dataset.duplicated(subset=['primary_title','genres','directors','release_year']).sum()

1375

In [49]:
merged_dataset.drop_duplicates(subset=['primary_title','genres','directors','release_year'],keep="first",inplace=True)

In [50]:
merged_dataset.duplicated(subset=['primary_title','genres','directors','release_year']).sum()

0

In [51]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1882 entries, 0 to 3256
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   primary_title            1882 non-null   object
 1   genres                   1869 non-null   object
 2   directors                1882 non-null   object
 3   studio                   1882 non-null   object
 4   release_year             1882 non-null   int64
 5   release_month            1882 non-null   object
 6   film_runtime             1765 non-null   float64
 7   imdb_average_rating      1620 non-null   float64
 8   imdb_number_of_votes     1620 non-null   float64
 9   production_budget        1882 non-null   float64
 10  domestic_gross           1882 non-null   float64
 11  worldwide_gross          1882 non-null   float64
 12  original_language        1882 non-null   object
 13  popularity               1882 non-null   float64
 14  moviedb_average_rating   1882 non-null   float64
 15  moviedb_number_of_votes  1882 non-null   int64
dtypes: float64(8), int64(2), object(6)
memory usage: 250.0+ KB

In [52]:
# Filling null values in the film_runtime,imdb_average_rating,imdb_number_of_votes

merged_dataset.describe()

,release_year,film_runtime,imdb_average_rating,imdb_number_of_votes,production_budget,domestic_gross,worldwide_gross,popularity,moviedb_average_rating,moviedb_number_of_votes
count,1882.000000,1765.000000,1620.000000,1.620000e+03,1.882000e+03,1.882000e+03,1.882000e+03,1882.000000,1882.000000,1882.000000
mean,2013.964400,102.670822,6.408272,1.054000e+05,4.478262e+07,5.769024e+07,1.404995e+08,11.718874,6.305579,1871.593518
std,2.618648,24.550306,1.037359,1.569574e+05,5.226539e+07,8.234746e+07,2.231678e+08,7.549406,1.004416,2554.983166
min,2010.000000,3.000000,1.600000,5.000000e+00,2.700000e+04,0.000000e+00,0.000000e+00,0.600000,1.000000,1.000000
25%,2012.000000,91.000000,5.800000,7.844750e+03,1.000000e+07,6.907268e+06,1.590741e+07,7.823000,5.800000,287.000000
50%,2014.000000,103.000000,6.500000,5.040000e+04,2.550000e+07,3.055370e+07,5.751250e+07,10.542000,6.300000,955.000000
75%,2016.000000,116.000000,7.100000,1.281955e+05,5.500000e+07,7.139912e+07,1.567500e+08,14.641000,6.900000,2386.000000
max,2021.000000,280.000000,9.200000,1.841066e+06,4.106000e+08,7.000596e+08,2.048134e+09,80.773000,10.000000,22186.000000

In [53]:
#film_runtime
#Null values we are going to fill with the mean values

merged_dataset['film_runtime'] = merged_dataset['film_runtime'].fillna(merged_dataset['film_runtime'].mean())

#imdb_average_rating
#Null values are goin to be filled by the mean
merged_dataset['imdb_average_rating'] = merged_dataset['imdb_average_rating'].fillna(merged_dataset['imdb_average_rating'].mean())

#imdb_number_of_votes
#Null values are going to be filled by the median because it less affected by extreme values
merged_dataset['imdb_number_of_votes'] = merged_dataset['imdb_number_of_votes'].fillna(merged_dataset['imdb_number_of_votes'].median())

In [54]:
#genre
#Null values will be filled with unknown
merged_dataset['genres']=merged_dataset['genres'].fillna('unknown')

In [55]:
#Limiting imdb_average_rating,moviedb_average_rating to one decimal place

merged_dataset[['imdb_average_rating', 'moviedb_average_rating']] = merged_dataset[['imdb_average_rating', 'moviedb_average_rating']].round(1)

#Changing some columns from float to intergers
merged_dataset=merged_dataset.astype({'film_runtime':'int64','imdb_number_of_votes':'int64','production_budget':'int64','domestic_gross':'int64','worldwide_gross':'int64','popularity':'int64'})

In [56]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1882 entries, 0 to 3256
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   primary_title            1882 non-null   object
 1   genres                   1882 non-null   object
 2   directors                1882 non-null   object
 3   studio                   1882 non-null   object
 4   release_year             1882 non-null   int64
 5   release_month            1882 non-null   object
 6   film_runtime             1882 non-null   int64
 7   imdb_average_rating      1882 non-null   float64
 8   imdb_number_of_votes     1882 non-null   int64
 9   production_budget        1882 non-null   int64
 10  domestic_gross           1882 non-null   int64
 11  worldwide_gross          1882 non-null   int64
 12  original_language        1882 non-null   object
 13  popularity               1882 non-null   int64
 14  moviedb_average_rating   1882 non-null   float64
 15  moviedb_number_of_votes  1882 non-null   int64
dtypes: float64(2), int64(8), object(6)
memory usage: 250.0+ KB

In [57]:
#renaming some columns in plural form
merged_dataset = merged_dataset.rename(columns={"primary_title":"title","genres":"genre","directors":"director"})

In [58]:
cleaned_dataset = merged_dataset.copy()

In [59]:
cleaned_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1882 entries, 0 to 3256
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    1882 non-null   object
 1   genre                    1882 non-null   object
 2   director                 1882 non-null   object
 3   studio                   1882 non-null   object
 4   release_year             1882 non-null   int64
 5   release_month            1882 non-null   object
 6   film_runtime             1882 non-null   int64
 7   imdb_average_rating      1882 non-null   float64
 8   imdb_number_of_votes     1882 non-null   int64
 9   production_budget        1882 non-null   int64
 10  domestic_gross           1882 non-null   int64
 11  worldwide_gross          1882 non-null   int64
 12  original_language        1882 non-null   object
 13  popularity               1882 non-null   int64
 14  moviedb_average_rating   1882 non-null   float64
 15  moviedb_number_of_votes  1882 non-null   int64
dtypes: float64(2), int64(8), object(6)
memory usage: 250.0+ KB