## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

# DATA PREPARATION

### Importing Python libraries commonly used for data manipulation, numerical computations, and data visualization. We will be using then with our data set

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pylab as plt
import seaborn as sns
import sqlite3
from scipy import stats

### Importing the  1st csv file using pandas inorder to enable looking into the data

In [2]:
df= pd.read_csv('data/bom.movie_gross.csv')
df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

### Importing the  2nd csv file using pandas inorder to enable looking into the data

In [3]:
df_1 = pd.read_csv('data/tmdb.movies.csv')
df_1

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

### Importing the  3rd csv file using pandas inorder to enable looking into the data

In [4]:
df_2= pd.read_csv('data/tn.movie_budgets.csv')
df_2

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

### Looking into the Sqlite database inorder to enable looking into the data

In [5]:
conn = sqlite3.connect('data/im.db')
cur = conn.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()
print(tables)

[('movie_basics',), ('directors',), ('known_for',), ('movie_akas',), ('movie_ratings',), ('persons',), ('principals',), ('writers',)]

In [ ]:
df_3 = pd.read_sql("""SELECT *
FROM movie_basics
JOIN movie_ratings
USING(movie_id) 
JOIN writers
USING(movie_id) 
JOIN directors
USING(movie_id) 
JOIN movie_akas
USING(movie_id)""",conn)
print(df_3)

In [ ]:
df_3 = pd.read_sql("""SELECT *
FROM movie_basics""", conn)

### Joining the dataframes

In [ ]:
joined_data = df_3.copy()

In [ ]:
joined_data.merge(df_1, how = 'left', left_on = 'primary_title', right_on = 'title')
joined_data = joined_data.merge(df_1, how='left', left_on='primary_title', right_on='title')

In [ ]:
joined_data

In [ ]:
df_2

In [ ]:
joined_data = joined_data.merge(df_2, how='left', left_on='primary_title', right_on='movie')

In [ ]:
joined_data

In [ ]:
df = df.set_index('title')
df

In [ ]:
joined_data =joined_data.set_index('primary_title')
joined_data

In [ ]:
joined_data = joined_data.combine_first(df)

In [ ]:
joined_data =joined_data.reset_index()
joined_data =joined_data.rename(columns ={'index':'primary_title'})
joined_data

In [ ]:
joined_data[joined_data['primary_title']=='Toy Story 3']

In [ ]:
columns_to_clean = ['domestic_gross', 'foreign_gross', 'worldwide_gross']
for col in columns_to_clean:
    joined_data[col] = (
        joined_data[col]
        .replace('[\$,]', '', regex=True)  
        .astype(float)  
    )

In [ ]:
joined_data.shape

In [ ]:
joined_data.columns

### Columns to be dropped

In [ ]:
columns_to_drop = ['id_x','id_y','original_title_y','original_title_x','release_date_y', 'title','movie','Unnamed: 0']
joined_data.drop(columns=columns_to_drop, inplace=True)

In [ ]:
joined_data.info()

# DATA CLEANING

### The percentage of missing values in the dataframe

In [ ]:
missing_percentage =joined_data.isnull().mean() * 100
missing_percentage

### Viewing the columns with the most missing values

In [ ]:
columns_high_missing = missing_percentage[missing_percentage > 50]
print(columns_high_missing)

### Finding the duplicate in the data set

In [ ]:
joined_data.duplicated().sum()

### Descriptive statistics for numerical columns in a DataFrame, including metrics like count, mean, standard deviation, minimum, maximum, and quartiles

In [ ]:
joined_data.describe()

### ### Descriptive statistics for categorical columns in a DataFrame, including metrics like count, unique, to and freq

In [ ]:
joined_data.describe(include= ['object'])

# HANDLING MISSING VALUES ON CONTINOUS DATA

### Filling in the missing values of the continuos data with the median

In [ ]:
joined_data.fillna(joined_data .select_dtypes(include='number').median(), inplace=True)

#### Confirmantion that the continous data has been filled by the median

In [ ]:
missing_percentage =joined_data.isnull().mean() * 100
missing_percentage

In [ ]:
# Calculate the correlation matrix
correlation_matrix = joined_data.corr()

### The plot of the continous data shows the correlation between each variable with the other

In [ ]:
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5, linecolor='black')
plt.title('Correlations between Continuous Data', fontsize=16)
plt.show()

# HANDLING MISSING VALUES ON CATEGORICAL DATA

### Filling in categorical data is important in data analysis since it improves the model performance,information preservation,data integrity and consistability and Improved visualization

In [ ]:
joined_data.fillna("missing",inplace= True)

### Confirmation that the missing categorical data has been filled in

In [ ]:
missing_percentage =joined_data.isnull().mean() * 100
missing_percentage